/* VARIABLES GENERALES*/ /* GENERAL*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  color: #6e6b68;
}

body {
  background-color: #faebd7;
}

/* FOOTER */
#footerGeneral {
  margin-top: 25px;
}

/* INDEX*/ /* IMG TRATAMIENTOS*/
.Tratamientos img {
  width: 100%;
  height: 250px;
  border-radius: 50%;
  margin: 20px;
}

/* INDEX MOBILE*/ /* COLOR ENCORE HEADER*/
.navbar-nav a {
  color: #6e6b68;
}

/* FORMULARIO*/
.form-custom {
  width: 300px;
}

.btn-custom {
  background-color: #e3cbab;
  color: #6e6b68;
}

#btn-busqueda:active {
  background-color: #faebd7;
}

.form-inline .input-group {
  flex-wrap: wrap;
}
.form-inline .input-group .form-control {
  width: 20%;
  margin-bottom: 5px;
}
@media (max-width: 576px) {
  .form-inline .input-group {
    flex-direction: row;
  }
  .form-inline .input-group .form-control {
    margin-bottom: 0;
  }
}

/* INDEX 1 */
#primeraIndex {
  width: 100%;
  position: relative;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  align-content: center;
}

h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

/* INDEX 2 */
#segundaIndex {
  text-align: center;
  padding: 50px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.facialesIndex2,
.corporalesIndex2,
.productosIndex2 {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.fotoFacialindex2,
.fotoCorporalindex2,
.fotoProductosindex2 {
  width: 300px;
  border-radius: 50%;
  margin-right: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

/* MOBILE INDEX*/
@media screen and (max-width: 600px) {
  #primeraIndex h3 {
    font-size: 35px;
  }
  #segundaIndex {
    padding: 20px;
  }
  .facialesIndex2,
  .corporalesIndex2,
  .productosIndex2 {
    flex-direction: column;
  }
  h1 {
    font-size: 20px;
  }
  .fotoFacialindex2,
  .fotoCorporalindex2,
  .fotoProductosindex2 {
    width: 200px;
  }
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}
/* NOSOTROS*/
#contenidoNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  text-align: center;
}
#contenidoNosotros .nosotros {
  margin-bottom: 50px;
}
#contenidoNosotros .fotoNosotros {
  width: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}
#contenidoNosotros h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
#contenidoNosotros p {
  font-size: 16px;
  line-height: 1.5;
}
#contenidoNosotros h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  #contenidoNosotros {
    padding: 20px;
  }
  #contenidoNosotros .fotoNosotros {
    width: 200px;
  }
  #contenidoNosotros h1 {
    font-size: 20px;
  }
  #contenidoNosotros p {
    font-size: 14px;
  }
  #contenidoNosotros h2 {
    font-size: 16px;
  }
}

/* TRATAMIENTOS */
#contenidoTratamiento h1 {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  font-size: 45px;
}

.Tratamientos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  /* MOBILE TRATAMIENTOS*/
}
.Tratamientos img:hover {
  transform: scale(1.3);
  transition: all, 1.8s;
}
.Tratamientos h2 {
  font-size: 25px;
  text-align: center;
  margin: 15px;
}
.Tratamientos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
@media (max-width: 600px) {
  .Tratamientos {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .Tratamientos img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin: 5px;
  }
  .Tratamientos img:hover {
    transform: scale(1.5);
  }
  .Tratamientos h2 {
    font-size: 20px;
  }
}

/* AGENDA*/
#contenidoAgendas {
  margin: 30px;
  text-align: center;
}
#contenidoAgendas h1 {
  display: flex;
  margin: 30px;
  justify-content: center;
  font-size: 25px;
}
#contenidoAgendas h2 {
  display: none;
}

.Agendas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.Agendas > div {
  position: relative;
  margin: 20px;
}
.Agendas > div div {
  position: relative;
  margin: 20px;
}
.Agendas > div img {
  border-radius: 50%;
}
.Agendas > div h3 {
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 40px;
}
.Agendas > div:hover h3 {
  opacity: 1;
}

/* AGENDA MOBILE */
@media (max-width: 600px) {
  #contenidoAgendas {
    padding: 0px;
  }
  #contenidoAgendas h1 {
    display: none;
  }
  #contenidoAgendas h2 {
    display: flex;
    margin: 30px;
    justify-content: center;
    font-size: 25px;
  }
  .Agendas {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
  }
  .Agendas > div img {
    width: 100%;
    margin: 5px;
  }
  .Agendas > div h3 {
    font-size: 15px;
  }
}
/* CONTACTENOS*/
#contenidoContactenos h1 {
  margin: 35px;
}

.ubicacion {
  display: flex;
  align-items: center;
}
.ubicacion iframe {
  width: 100%;
  height: 400px;
}
.ubicacion p {
  font-size: 25px;
  text-align: center;
}

.Sociales {
  display: flex;
  flex-direction: column;
}
.Sociales h2 {
  margin-top: 100px;
  text-align: center;
}

.sr {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}

.socialesRedes {
  width: 80px;
  height: 80px;
  padding: 40px;
  display: block;
  box-shadow: 0 3px 6px rgba(52, 50, 51, 0.761);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}
.socialesRedes:hover {
  width: 10%;
  padding: 0 10px;
}
.socialesRedes:nth-child(1):hover {
  color: #3f3d3e;
}
.socialesRedes:nth-child(2):hover {
  color: #3f3d3e;
}
.socialesRedes:nth-child(3):hover {
  color: #3f3d3e;
}

.formulario h2 {
  font-size: 35px;
  margin-top: 80px;
  text-align: center;
}

form {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type=text],
input[type=email] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type=submit] {
  background-color: #6e6b68;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #e3cbab;
  color: #6e6b68;
}

/* CONTACTENOS MOBILE */
@media (max-width: 600px) {
  #contenidoContactenos h1 {
    margin: 35px;
    font-size: 20px;
    text-align: left;
  }
  .ubicacion {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .ubicacion iframe {
    width: 100%;
    height: 200px;
  }
  .ubicacion p {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
  }
  .Sociales h2 {
    margin-top: 35px;
  }
  .sr {
    margin-top: 20px;
  }
  .socialesRedes {
    width: 40px;
    height: 40px;
    padding: 5px;
    display: block;
    box-shadow: 0 1px 4px rgba(52, 50, 51, 0.761);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formulario h2 {
    font-size: 17px;
    margin-top: 35px;
  }
  form {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
