    
 *{ 
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    
}

body{    
    background-color: antiquewhite;
}
/* FOOTER */

#footerGeneral{
    margin-top: 25px;
}

 /* INDEX 1  */

#primeraIndex {
    width: 100%;
    position: relative;
    justify-content: center;
}

#primeraIndex img{
    width: 100%;
    height: 700px;
    margin-top: 10px;
    align-content: center;
}

#primeraIndex h1{ 
    position: absolute;
    text-align: center;
    left: 300px;
    top: 30px;
    font-size: 6em;
    margin-top: 70px;
}

/* INDEX 2  */

#segundaIndex h1{ 
    text-align: center;
    padding: 35px;
}

.facialesIndex2 {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
}   

#segundaIndex{ 
    text-align: center; 
    align-self: center;
}

.fotoFacialindex2{
    width: 100%;
    height:300px; 
}

.corporalesIndex2 {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
} 

.fotoCorporalindex2{ 
    width: 100%;
    height:350px;
}

.productosIndex2 {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
}  

.fotoProductosindex2{ 
    width: 100%;
    height:350px;
}



@media (max-width:600px){

    #primeraIndex h1{ 
        font-size: 20px;
        position: absolute;
        text-align: center;
        left: 80px;
        top: 5px;
        margin-top: 15px;
    }

    #primeraIndex img{
        height:180px;
    }

    .facialesIndex2 {
        grid-template-columns: 1fr;
        grid-template-areas: "h2 p";
    }
    .corporalesIndex2 {
        grid-template-columns: 1fr;
        grid-template-areas: "p h2";
    }
    .productosIndex2 {
        grid-template-columns: 1fr;
        grid-template-areas: "h2 p";
    }
    #segundaIndex p{
        display: none;
    }
    .facialI2 h2{
        font-size: 20px;
        padding-right: 20px;
    }
    .corporalI2 h2{
        font-size: 20px;
        padding-left: 20px;
    }
    .productoI2 h2{
        font-size: 20px;
        padding-right: 20px;
    }
    
    .fotoFacialindex2{
        width: 150px;
        height:auto; 
        align-items: center;
    }
    
    .fotoCorporalindex2{
        width: 150px;
        height:auto; 
    }
    
    .fotoProductosindex2{
        width: 150px;
        height:auto; 
    }

}

/* NOSOTROS */

#contenidoNosotros{ 
    display: grid;
    grid-template-columns: 500px 700px;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}

#contenidoNosotros{ 
    text-align: center; 
    align-self: center;
}

.fotoNosotros { 
    width: 90%;
    height: 600px;
    margin-top: 15px;
}

.nosotros p{
    margin-top: 70px;
}

.nosotros h2{
    padding: 25px;
}

@media (max-width:600px){
    #contenidoNosotros {
        grid-template-columns: 1fr;
    }
    .fotoNosotros{
        display: none;
    }
    .nosotros h1{
        margin-top: 35px;
        font-size: 25px;
    }
    .nosotros p{
        font-size: 15px;
        margin-top: 15px;
        padding: 5px;
    }
    .nosotros h2{
        padding: 25px;
        font-size: 20px;
    }
}

/* TRATAMIENTOS */

.Tratamientos img{
    width: 100%;
    height: 250px;
    border-radius: 50%;
    margin: 20px;
}

.Tratamientos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.Tratamientos h2 { 
    font-size: 25px;
    text-align: center;
    margin: 15px;
}
.Tratamientos div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:600px){
    .Tratamientos img{
        width: 50%;
        height: auto;
        border-radius: 50%;
        margin: 5px;
    }
    
    .Tratamientos{
        grid-template-columns: 1fr;
        justify-items: center;
        
    }
    
    .Tratamientos h2 { 
        font-size: 20px;
        
    }
}

/*AGENDA*/
 
.Agenda {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    align-items: center;
    justify-content: center;
    
}
 
#contenidoAgenda h1 { 
    display: flex;
    margin: 30px;
    justify-content: center;
    font-size: 25px;
    
}

#contenidoAgenda img{
    width: 100%;
    border-radius: 50%;
}

#contenidoAgenda h2 { 
    display: none;
}
  
#contenidoAgenda h3 { 
    font-size: 25px;
    text-align: center;
}

.Agenda div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:600px){ 
    #contenidoAgenda h1 { 
        display: none;
    }
    #contenidoAgenda h2 { 
        display: flex;
        margin-top: 25px;
        justify-content: center;
    }
    
    #contenidoAgenda img{
        width: 70%;
        margin: 5px;
    }
    
    #contenidoAgenda h3 { 
        font-size: 15px;
    }
    
    .Agenda {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px;
        justify-content: center;
        
    }
}


/* CONTACTENOS */

#contenidoContactenos h1 { 
    margin: 35px;
}

.ubicacion iframe{
    width: 100%;
    height: 400px;
    
}   

.ubicacion { 
    display: flex;
    align-items: center;
}

.ubicacion p{ 
    font-size: 25px;
    text-align: center;
}


 
/* BARRA SOCIAL */

.Sociales h2{
    margin-top: 40px;
    text-align: center;
}
    

@media (max-width:600px){ 

    #contenidoContactenos h1 { 
        margin: 35px;
    }
    
    .ubicacion iframe{
        width: 90%;
        height: 200px;
    }   
    
    .ubicacion { 
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }
    
    .ubicacion p{ 
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
    }

    #contenidoContactenos h1 { 
        font-size: 20px;
        text-align: left;
    
    }
}
