/* VARIABLES GENERALES*/ /* GENERAL*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  color: #6e6b68;
}

body {
  background-color: #faebd7;
}

/* FOOTER */
#footerGeneral {
  margin-top: 25px;
}

/* INDEX*/ /* POSICION INDEX*/
#segundaIndex .productosIndex2, #segundaIndex .corporalesIndex2, #segundaIndex .facialesIndex2 {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

/* IMAGENES INDEX*/
#segundaIndex .fotoProductosindex2, #segundaIndex .fotoCorporalindex2, #segundaIndex .fotoFacialindex2 {
  width: 100%;
  height: 300px;
}

/* IMAGENES TRATAMIENTOS*/ /* COLOR ENCORE HEADER*/
.navbar-nav a {
  color: #6e6b68;
}

.form-custom {
  width: 300px;
}

.btn-custom {
  background-color: #e3cbab;
  color: #6e6b68;
}

#btn-busqueda:active {
  background-color: #faebd7;
}

/* INDEX 1 */
#primeraIndex {
  width: 100%;
  position: relative;
  justify-content: center;
}
#primeraIndex img {
  width: 100%;
  height: 700px;
  margin-top: 10px;
  align-content: center;
}
#primeraIndex h1 {
  position: absolute;
  text-align: center;
  left: 300px;
  top: 30px;
  font-size: 6em;
  margin-top: 70px;
}

/* INDEX 2 */
#segundaIndex {
  text-align: center;
  align-self: center;
}
#segundaIndex h1 {
  text-align: center;
  padding: 35px;
}
/* MOBILE */
@media (max-width: 600px) {
  #primeraIndex h1 {
    font-size: 20px;
    position: absolute;
    text-align: center;
    left: 80px;
    top: 5px;
    margin-top: 15px;
  }
  #primeraIndex img {
    height: 180px;
  }
  #segundaIndex p {
    display: none;
  }
  #segundaIndex .facialesIndex2 {
    grid-template-columns: 1fr 1fr;
  }
  #segundaIndex .corporalesIndex2 {
    grid-template-columns: 1fr 1fr;
  }
  #segundaIndex .productosIndex2 {
    grid-template-columns: 1fr 1fr;
  }
  #segundaIndex .facialI2 h2 {
    font-size: 20px;
    padding-right: 20px;
  }
  #segundaIndex .corporalI2 h2 {
    font-size: 20px;
    padding-left: 20px;
  }
  #segundaIndex .productoI2 h2 {
    font-size: 20px;
    padding-right: 20px;
  }
  #segundaIndex .fotoFacialindex2 {
    width: 150px;
    height: auto;
  }
  #segundaIndex .fotoCorporalindex2 {
    width: 150px;
    height: auto;
  }
  #segundaIndex .fotoProductosindex2 {
    width: 150px;
    height: auto;
  }
}
/* NOSOOTROS*/
#contenidoNosotros {
  display: grid;
  grid-template-columns: 500px 700px;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
#contenidoNosotros .fotoNosotros {
  width: 70%;
  height: 600px;
  margin-top: 15px;
}
#contenidoNosotros .nosotros p {
  margin-top: 70px;
}
#contenidoNosotros .nosotros h2 {
  padding: 25px;
}

.nosotros {
  text-align: center;
  align-self: center;
}

/* MOBILE NOSOTROS*/
@media (max-width: 600px) {
  #contenidoNosotros {
    grid-template-columns: 1fr;
  }
  #contenidoNosotros .fotoNosotros {
    display: none;
  }
  .nosotros h1 {
    margin-top: 35px;
    font-size: 25px;
  }
  .nosotros p {
    font-size: 15px;
    margin-top: 15px;
    padding: 5px;
  }
  .nosotros h2 {
    padding: 25px;
    font-size: 20px;
  }
}
/* TRATAMIENTOS */
.Tratamientos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  /* MOBILE TRATAMIENTOS*/
}
.Tratamientos img {
  width: 100%;
  height: 250px;
  border-radius: 50%;
  margin: 20px;
}
.Tratamientos img:hover {
  transform: scale(1.3);
  transition: all, 1.8s;
}
.Tratamientos h2 {
  font-size: 25px;
  text-align: center;
  margin: 15px;
}
.Tratamientos div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .Tratamientos {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .Tratamientos img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin: 5px;
  }
  .Tratamientos img:hover {
    transform: scale(1.5);
  }
  .Tratamientos h2 {
    font-size: 20px;
  }
}

/* TRATAMIENTOS*/
#contenidoAgenda h1 {
  display: flex;
  margin: 30px;
  justify-content: center;
  font-size: 25px;
}
#contenidoAgenda h2 {
  display: none;
}
#contenidoAgenda .Agenda {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  align-items: center;
  justify-content: center;
}
#contenidoAgenda .Agenda div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contenidoAgenda .Agenda img {
  width: 100%;
  border-radius: 50%;
}
#contenidoAgenda .Agenda img:hover {
  transform: scale(1.5);
  transition: all, 1.5s;
}
#contenidoAgenda .Agenda h3 {
  font-size: 25px;
  text-align: center;
}

/* MOBILE TRATAMIENTOS*/
@media (max-width: 600px) {
  #contenidoAgenda {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
    justify-content: center;
  }
  #contenidoAgenda h1 {
    display: none;
  }
  #contenidoAgenda h2 {
    display: flex;
    margin-top: 25px;
    justify-content: center;
  }
  #contenidoAgenda .Agenda {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
    justify-content: center;
  }
  #contenidoAgenda .Agenda img {
    width: 70%;
    margin: 5px;
  }
  #contenidoAgenda .Agenda h3 {
    font-size: 15px;
  }
}
/* CONTACTENOS*/
#contenidoContactenos h1 {
  margin: 35px;
}

.ubicacion {
  display: flex;
  align-items: center;
}
.ubicacion iframe {
  width: 100%;
  height: 400px;
}
.ubicacion p {
  font-size: 25px;
  text-align: center;
}

/* BARRA SOCIAL */
.Sociales {
  display: flex;
  flex-direction: column;
}
.Sociales h2 {
  margin-top: 80px;
  text-align: center;
}

.sr {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}

.socialesRedes {
  width: 80px;
  height: 80px;
  padding: 40px;
  display: block;
  box-shadow: 0 3px 6px rgba(52, 50, 51, 0.761);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}
.socialesRedes:hover {
  width: 10%;
  padding: 0 10px;
}
.socialesRedes:nth-child(1):hover {
  color: #3f3d3e;
}
.socialesRedes:nth-child(2):hover {
  color: #3f3d3e;
}
.socialesRedes:nth-child(3):hover {
  color: #3f3d3e;
}

/* MOBILE CONTACTENOS*/
@media (max-width: 600px) {
  #contenidoContactenos h1 {
    margin: 35px;
    font-size: 20px;
    text-align: left;
  }
  .ubicacion {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .ubicacion iframe {
    width: 90%;
    height: 200px;
  }
  .ubicacion p {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
  }
  .Sociales h2 {
    margin-top: 15px;
  }
  .sr {
    margin-top: 20px;
  }
  .socialesRedes {
    width: 40px;
    height: 40px;
    padding: 5px;
    display: block;
    box-shadow: 0 1px 4px rgba(52, 50, 51, 0.761);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
