    
 *{ 
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
}

body{    
    background-color: antiquewhite;
}

 /* HEADER */


.logoImagen {  
    width: 80px; 
    height: 80px;
    border-radius: 50% 50%; 
    margin-top: 5px;
} 

#headerGeneral{
    display: flex;
    width: 100vw;
    height: 90px;
    background-color: rgb(205, 185, 159);
    position: sticky; 
    margin: 0;
    top: 0;
    z-index: 1;
} 
    
.menuHeader{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}  

.menuHeader li{
    display: flex;
    justify-content: end;
    padding: 20px;
    border-radius: 3px;
}

.menuHeader li a{
    display: block;
}

.checkbtn {
    font-size: 40px;
    color: #fff;
    align-self: center;
    cursor: pointer;
    margin-left: 15px;
    display: none;
}

#checkMenu {
    display: none;
}

/*@media (max-width:600px){  
    .logoImagen { 
        display: none;
    }
     .menuHeader{ 
        flex-direction: column;
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: center;
        background-color: rgb(205, 185, 159);
    }
    .menuHeader li{
        padding: 5px;
        font-size: 30px;
    }.menuHeader{
        margin: 30px 0 0 0;
        line-height: 30px;
     }
    .menuHeader{
        position: fixed;
        width: 100vw;
        height: calc(100%  65px);
        /* top: -100vh; 
        text-align: center;
        transition: all 4s;
    }
    .checkbtn{
        display: inline-flex;
    }
    #headerGeneral{
        position: relative;
         
        
    } 
    
}*/

/* INDEX 1 */

#primeraIndex {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

#primeraIndex img{
    width: 1200px;
    height: 600px;
    padding: 15px;
    margin-left: 15px;
}

#primeraIndex h1{
    position: absolute;
    text-align: center;
    left: 300px;
    top: 30px;
    font-size: 6em;
    margin-top: 70px;
}

/* INDEX 2 */

#segundaIndex { 
    display: flex;
    flex-direction: column;
}    

#segundaIndex h1 { 
    display: flex;
    flex-direction: column;
    margin: 50px;
    text-align: center;
    font-size: 3.125em;
    align-items: center;
}

.fotoFacialindex2{
    width: 450px;
    height:350px;
    margin-left: 250px;
    margin-right: 25px;
}

.facialI2 {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    margin-top: 60px;
    text-align: center;
}

.facialesIndex2 {
    display: flex;
    flex-direction: row;
}

.corporalI2 {
    width: 250px;
    margin-top:100px;
    margin-left: 200px;
    margin-right: 25px;
    text-align: center;
}
.corporalesIndex2 {
    display: flex;
    flex-direction: row;
}

#segundaIndex .fotoCorporalindex2{
    width: 500px;
    height:450px;
    margin-right: 300px;
}

.productoI2 {
    width: 130px;
    align-items: center;
    margin-top: 70px;
    text-align: center;
}

.productosIndex2 {
    display: flex;
    flex-direction: row;
}

#segundaIndex .fotoProductosindex2{
    width: 400px;
    height:350px;
    margin-left: 330px;
    margin-right: 25px;
    margin-block-end: 40px;
}

.productosIndex2 {
    display: flex;
    flex-direction: row;
}

@media (max-width:600px){
   
#primeraIndex img{
    width: 500px;
    height: 300px;
    margin-left: 35px;
}

#primeraIndex h1{
    font-size: 2em;
    margin-top: 50px;
    margin-right: 200px;
    
}

#segundaIndex h1 { 
    margin-right: 50px;
    font-size: 25px;
}

.fotoFacialindex2{
    width: 250px;
    height:200px;
    margin-left: 150px;
    margin-right: 25px;
}
.facialI2 p{
    display: none;
    
}

#segundaIndex .fotoCorporalindex2{
    width: 250px;
    height:200px;
    margin-right: 100px;
}
.corporalI2 p{
    display: none;
}

#segundaIndex .fotoProductosindex2{
    width: 250px;
    height:200px;
    margin-left: 150px;
}
.productoI2 p{
    display: none;
}

}


/* NOSOTROS */

#contenidoNosotros {
    display: flex;
}

.nosotros{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1em;
    padding: 45px;
    width: 350px;
    margin-right: 50px;
    margin-top: 200px;
}

#contenidoNosotros img {
    width: 650px;
    height: 750px;
    margin-top: 25px;
    margin-block-end: 25px;
}

#contenidoNosotros p {
    text-align: center;
    font-size: 1em;
    padding: 25px;
}

@media (max-width:600px){


.nosotros{
    display: flex;
    text-align: center;
    font-size: 1em;
    
    width: 100vw;
    margin-right: 50px;
    margin-top: 20px;
}

#contenidoNosotros img {
    width: 300px;
    height: 350px;
    margin-top: 150px;
    margin-right: 20px;
    margin-block-end: 25px;
}

#contenidoNosotros p {
    width: 100px;
    flex-direction: column;
    text-align: center;
    font-size: 1em;
    
}
}

/* TRATAMIENTOS */

#contenidoTratamiento { 
    display: flex;
    flex-direction: column;
}   

#contenidoTratamiento h1 { 
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 3.125em;
    
}

#contenidoTratamiento img{
    width: 350px;
    height:230px;
    margin: 20px;
}

#contenidoTratamiento h2 { 
    display: flex;
    margin-top: 5px;
    justify-content: center;
    font-size: 1.875em;
}

.primerTrio {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.segundoTrio {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

/*AGENDA*/

#contenidoAgenda { 
    display: flex;
    flex-direction: column;
}   

#contenidoAgenda h1 { 
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 2.188em;
    
}

#contenidoAgenda img{
    width: 350px;
    height:230px;
    margin: 20px;
}

#contenidoAgenda h2 { 
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: center;
    font-size: 1.875em;
}

.primerTrioA {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.segundoTrioA {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

/* CONTACTENOS */

#contenidoContactenos { 
    display: flex;
    flex-direction: column;
}   

#contenidoContactenos h1 { 
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 20px;
 }

 .mapa{
    display: flex;
    flex-direction: row;
 }
 
.mapa p{
    display: flex;
    width: 270px;
    text-align: center;
    font-size: 1.5em;
    padding: 25px;
    margin-top: 130px;
}

.mapa iframe{
    margin-left: 80px;
}


    
    
/* RESPONSIVE */
















/* FOOTER */

.footerGeneral{  
    
    background-color: rgb(227, 203, 171);
    padding: 15px;
    height: 15px;
}

.footerGeneral h4{  
    text-align: center;
}

@media (max-width:600px){   
    .footerGeneral{
    width: 100%;
}
}
