* {
    margin: $margin;
    padding: $padding;
    text-decoration: $text-decoration;
    list-style-type: $list-style-type;
    font-family: $font-family;
}

body{
    background-color:$body-color;
}