/* VARIABLES GENERALES*/

$margin: 0;
$padding: 0;
$text-decoration: none;
$list-style-type: none;
$font-family: 'Montserrat', sans-serif; 
$body-color: #faebd7;
$color-font:#6e6b68;
$color-boxCont:#3f3d3e;



