/* AGENDA*/

#contenidoAgendas {

  margin: 30px;
  text-align: center;

  & h1 {
    display: flex;
    margin: 30px;
    justify-content: center;
    font-size: 25px;
  }

  & h2 {
    display: none;
  }
}

.Agendas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;

  >div {
    position: relative;
    margin: 20px;


    div {
      position: relative;
      margin: 20px;
    }

    img {
      border-radius: 50%;
    }

    h3 {
      position: absolute;
      transform: translateX(-50%);
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s;
      font-size: 40px;
    }

    &:hover h3 {
      opacity: 1;
    }
  }
}

/* AGENDA MOBILE */
@media (max-width: 600px) {
  #contenidoAgendas {
    padding: 0px;

    h1 {
      display: none;
    }

    h2 {
      display: flex;
      margin: 30px;
      justify-content: center;
      font-size: 25px;
    }
  }

  .Agendas {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;

    >div img {
      width: 100%;
      margin: 5px;
    }

    >div h3 {
      font-size: 15px;
    }
  }
}