/* INDEX 1 */

#primeraIndex {
  width: 100%;
  position: relative;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
  margin-top: 10px;
  align-content: center;
}

h3 {
  @include centerElement;
  font-size: 100px;
}

/* INDEX 2 */

#segundaIndex {
  text-align: center;
  padding: 50px;
}

h1 {
  
  font-size:map-get($h1-index2, fszeh1);
  font-weight:map-get($h1-index2, fwe);
  margin-bottom:map-get($h1-index2, mbtn);
}

.facialesIndex2,
.corporalesIndex2,
.productosIndex2 {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.fotoFacialindex2,
.fotoCorporalindex2,
.fotoProductosindex2 {
  width: 300px;
  border-radius: 50%;
  margin-right: 20px;
}

h2 {
  font-size:map-get($h1-index2, fszeh2);
  font-weight:map-get($h1-index2, fwe);
  margin-bottom:map-get($h1-index2, mbtn);
}

p {
  font-size: 16px;
  line-height: 1.5;
}

/* MOBILE INDEX*/
@media screen and (max-width: 600px) {
  #primeraIndex {
    h3 {
      font-size: 35px;
    }
  }

  #segundaIndex {
    padding: 20px;
  }

  .facialesIndex2,
  .corporalesIndex2,
  .productosIndex2 {
    flex-direction: column;
  }

  h1 {
    font-size: 20px;
  }

  .fotoFacialindex2,
  .fotoCorporalindex2,
  .fotoProductosindex2 {
    width: 200px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}