#contenidoNosotros {
    display: grid;
    grid-template-columns: 500px 700px;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
  
    & .fotoNosotros {
      width: 90%;
      height: 600px;
      margin-top: 15px;
    }
  
    & .nosotros p {
      margin-top: 70px;
    }
  
    & .nosotros h2 {
      padding: 25px;
    }
  }
  
.nosotros {
    text-align: center;
    align-self: center;
  }
  
  @media (max-width: 600px) {
    #contenidoNosotros {
      grid-template-columns: 1fr;
  
      & .fotoNosotros {
        display: none;
      }
    }
  
    .nosotros h1 {
      margin-top: 35px;
      font-size: 25px;
    }
  
    .nosotros p {
      font-size: 15px;
      margin-top: 15px;
      padding: 5px;
    }
  
    .nosotros h2 {
      padding: 25px;
      font-size: 20px;
    }
  }
  
  