/* NOSOTROS*/

#contenidoNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  text-align: center;

  .nosotros {
    margin-bottom: 50px;
  }

  .fotoNosotros {
    width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  // NOSOTRO MOBILE
  @media screen and (max-width: 600px) {
    padding: 20px;

    .fotoNosotros {
      width: 200px;
    }

    h1 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }

    h2 {
      font-size: 16px;
    }
  }
}