/* TRATAMIENTOS */

.Tratamientos {
    img {
      @include imgtratamientos;
    }
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
  
    h2 {
      font-size: 25px;
      text-align: center;
      margin: 15px;
    }
  
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    @media (max-width: 600px) {
      img {
        width: 50%;
        height: auto;
        border-radius: 50%;
        margin: 5px;
      }
  
      grid-template-columns: 1fr;
      justify-items: center;
  
      h2 {
        font-size: 20px;
      }
    }
  }